.label {
    -fx-background-color: rgba(228, 224, 236, 0.7);
    -fx-background-radius: 12px 12px 0 12px;
    -fx-padding: 8px;
}

.reply-label {
    -fx-background-color: rgba(215, 232, 255, 0.7);
    -fx-background-radius: 12px 12px 12px 0;
}

#displayPicture {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.5, 5, 5);
}
